- @top_books.each do |book|
  = book.name
  %p

= paginate @books, theme: 'twitter-bootstrap-3'
- @books.each do |book|
  = link_to book.name, book_path(book.id)
  = book.author
  = book.description
  = book.status
  %p
= paginate @books, theme: 'twitter-bootstrap-3'

