
/ ---- Slider_bg ----------
.slider_bg
  .wrap
    .grids_1_of_3
      .grid_1_of_3.images_1_of_3
        = image_tag 'icon1.jpg'
        %h3 Lorem Ipsum is simply
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore pariatur.
      .grid_1_of_3.images_1_of_3
        = image_tag 'icon2.jpg'
        %h3 Lorem Ipsum is simply
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore pariatur.
      .grid_1_of_3.images_1_of_3
        = image_tag 'icon3.jpg'
        %h3 Lorem Ipsum is simply
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore pariatur.
      .clear
/ main
.main_bg
  .wrap
    .main
      .content
        %h2 what our customer says
        %h3 Lorem ipsum dolor sit amet, consectetur adipisicing
        %p
          %a{:href => "#"}
            = image_tag 'pic1.jpg'
          Cadipisicing elit,Nam ornare vulputate risus,id volutpat elit porttitor non.In consequat nisi vel lectus dapibus sodales.Nam ornare vulputate risus, id volutpat elit porttitor non. In consequat nisi vel lectus dapibus sodales.Nam ornare vulputate risus, id volutpat elit porttitor non. In consequat nisi vel lectus dapibus sodales.Nam ornare vulputate risus, id volutpat elit porttitor non. In consequat nisi vel lectus dapibus sodales. Pellentesque habitant morbi tristique senectus Nam ornare vulputate risus, id volutpat elit porttitor non. In consequat nisi vel lectus dapibus sodales. PellentesqueNam ornare vulputate risus, id volutpat elit porttitor non. In consequat nisi vel lectus dapibus sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas Pellentesque habitant morbi tristique senectus et netus et malesuada fames. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Nam ornare vulputate risus,id volutpat elit porttitor non. In consequat nisi vel lectus dapibus sodales.Nam ornare vulputate risus, id volutpat elit porttitor non.
        .clear
.main_bg#books-block
  .wrap
    .main
      .content
        %h2 Top books
        %table.table
          %thead
            %tr
              %th Name
              %th Author
              %th Status
          %tbody
            - @top_books.each do |book|
              %tr
                %td
                  = book.name
                %td
                  = book.author
                %td
                  = book.status
      .clear
.main_bg#all-books-blog
  .wrap
    .main
      .content
        %h2 All books
        .row
          .p.text-center#books-pagination
            = paginate @books, remote: true, :theme => 'twitter-bootstrap-3'
        %table.table
          %thead
            %tr
              %th Name
              %th Author
              %th Status
          %tbody#books
            = render 'books/book'
        .clear
